In [2]:
import pandas as pd

In [3]:
mob = pd.read_parquet("20230101_20240101_all_clusters__mob_presented_make_pred_or_outage_or_lp_alarms_duplicated_link_alarms_with_flag.parquet")

In [4]:
mob_tx = pd.read_parquet("20230101_20240101_all_clusters__tx_mob_presented_make_pred_or_outage_or_lp_alarms_duplicated_link_alarms_with_flag.parquet")

In [6]:
tx = pd.read_parquet("20230101_20240101_all_clusters__tx_presented_make_pred_or_outage_or_lp_alarms_duplicated_link_alarms_with_flag.parquet")

In [7]:
mob

                             alarm_id  cluster_id2  cluster_id3 link_cluster
0        EFM;63b214e0d7aa71000199440d            1            0          NaN
3        EFM;63b4b35cd7aa710001995bce            3            2          NaN
7        EFM;63b57b0a2aaf2c000125b623            5            4          NaN
8        EFM;63b57b6dd7aa710001996662            5            4          NaN
12       EFM;63bc2eaa2aaf2c000125f764            9            8          NaN
...                               ...          ...          ...          ...
2176037  EFM;6540320a7b35f200017ca98d       799173       777615          NaN
2176038  EFM;6540320a7b35f200017ca98e       799173       777615          NaN
2176039  EFM;6540320cdcfbc200013159a9       799173       777615          NaN
2176040  EFM;6540320b7b35f200017ca98f       799173       777615          NaN
2176041  EFM;6540320ddcfbc200013159aa       799173       777615          NaN

[665199 rows x 4 columns]

In [8]:
tx

                               alarm_id  cluster_id2  cluster_id3 link_cluster
1                       COS1P;136962430            2            1          NaN
2                       COS1P;136962434            2            1          NaN
4                       COS1P;137017732            4            3          NaN
5                       COS1P;137017736            4            3          NaN
6                       COS1P;137017735            4            3          NaN
...                                 ...          ...          ...          ...
2176001  EFMTX;65287b216e6df100011f868b       799168        66990       second
2176002  EFMTX;65287b7a743340000184b9dd       799168        66990       second
2176003  EFMTX;65287c0c2ea48300018bc7ce       799168        66990       second
2176009  EFMTX;65343d2a8e52a80001335dda       799170       777612          NaN
2176042  EFMTX;656c3a5b06272100018edfe7       799174       777616          NaN

[1510844 rows x 4 columns]

In [13]:
real_time = pd.read_parquet("20230101-20240101_real_time_clusters.parquet")

In [14]:
real_time

,alarm_id,network,ne_type,first_occurrence,last_update,data,ne_id,geo_code,min_cluster_first_occurrence,link_cluster,domain,cluster_id,cluster_id2
0,EFM;63af9dfe2aaf2c000125807a,an,lnbts,2022-12-31 03:27:10,2022-12-31 23:59:01,2023-01-01 00:00:02,1btste08d,alad,2022-12-31 03:27:10,None,mob,202301010000_3,202301010000_1
1,EFM;63af9dfec623b40001a5c9cf,an,lnbts,2022-12-31 03:27:10,2022-12-31 23:58:55,2023-01-01 00:00:02,1btste08d,alad,2022-12-31 03:27:10,None,mob,202301010000_3,202301010000_1
2,COS1P;136902468,sdh,ad16,2022-12-31 22:19:34,2022-12-31 23:58:46,2023-01-01 00:00:02,alesitaj/ad16/73,ales,2022-12-31 22:19:34,None,tx,202301010000_20,202301010000_2
3,EFM;63b0beaf2aaf2c0001258736,an,lebts,2022-12-31 23:58:55,2022-12-31 23:59:27,2023-01-01 00:00:02,5btsle119,alss,2022-12-31 23:58:55,None,mob,202301010000_9,202301010000_3
4,COS1P;136891403,sdh,oadm,2022-12-31 11:26:16,2022-12-31 23:59:52,2023-01-01 00:00:02,ancoitab/oadm/1,anco,2022-12-31 11:26:16,None,tx,202301010000_21,202301010000_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,EFM;6591f199d4c961000177739d,an,lnbts,2023-12-31 23:56:25,2023-12-31 23:56:37,2023-12-31 23:58:03,1btsts059,trie,2023-12-31 23:56:25,None,mob,202312312358_1,202312312358_16
111,EFM;6591f19aba09b0000160c08d,an,lnbts,2023-12-31 23:56:26,2023-12-31 23:57:59,2023-12-31 23:58:03,1btsts059,trie,2023-12-31 23:56:25,None,mob,202312312358_1,202312312358_16
112,EFMTX;6591ef8b975f5100015a479b,sdh,None,2023-12-31 23:47:39,2023-12-31 23:57:56,2023-12-31 23:58:02,tarcitaf/udinitask81,udin,2023-12-31 23:47:36,second,tx,202312312350_28,202312312342_10
113,EFMTX;6591f085e294c600010bf21a,sdh,ad16,2023-12-31 23:51:49,2023-12-31 23:56:11,2023-12-31 23:58:02,udinitav/ad16/3,udin,2023-12-31 23:47:36,None,tx,202312312352_29,202312312342_10
114,EFMTX;6591ef19d7d6bc000194445c,sdh,prhu,2023-12-31 23:45:45,2023-12-31 23:57:22,2023-12-31 23:58:02,viarital/prhu/4,viar,2023-12-31 23:45:45,None,tx,202312312358_47,202312312358_17

In [17]:
real_time_old = pd.read_parquet("20230101-20240101_real_time_clusters_old.parquet")

In [18]:
real_time_old

,alarm_id,network,ne_type,first_occurrence,last_update,data,ne_id,geo_code,min_cluster_first_occurrence,domain,link_cluster,cluster_id,cluster_id2
0,EFM;63af9dfe2aaf2c000125807a,an,lnbts,2022-12-31 03:27:10,2022-12-31 23:59:01,2023-01-01 00:00:02,1btste08d,alad,2022-12-31 03:27:10,mob,None,202301010000_3,202301010000_1
1,EFM;63af9dfec623b40001a5c9cf,an,lnbts,2022-12-31 03:27:10,2022-12-31 23:58:55,2023-01-01 00:00:02,1btste08d,alad,2022-12-31 03:27:10,mob,None,202301010000_3,202301010000_1
2,COS1P;136902468,sdh,ad16,2022-12-31 22:19:34,2022-12-31 23:58:46,2023-01-01 00:00:02,alesitaj/ad16/73,ales,2022-12-31 22:19:34,tx,None,202301010000_20,202301010000_2
3,EFM;63b0beaf2aaf2c0001258736,an,lebts,2022-12-31 23:58:55,2022-12-31 23:59:27,2023-01-01 00:00:02,5btsle119,alss,2022-12-31 23:58:55,mob,None,202301010000_9,202301010000_3
4,COS1P;136891403,sdh,oadm,2022-12-31 11:26:16,2022-12-31 23:59:52,2023-01-01 00:00:02,ancoitab/oadm/1,anco,2022-12-31 11:26:16,tx,None,202301010000_21,202301010000_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,EFMTX;6591efb9d7d6bc00019444d8,adsl,adsl,2023-12-31 23:48:25,2023-12-31 23:56:43,2023-12-31 23:58:02,taglitac/adsl/1,tagl,2023-12-31 23:48:24,tx,None,202312312350_16,202312312350_13
39,EFMTX;6591f046d8beb800016deaef,ptn,ptn3,2023-12-31 23:50:46,2023-12-31 23:57:34,2023-12-31 23:58:02,thesitae/ptn3/1,thes,2023-12-31 23:44:44,tx,None,202312312348_17,202312312344_9
40,EFM;6591f199d4c961000177739d,an,lnbts,2023-12-31 23:56:25,2023-12-31 23:56:37,2023-12-31 23:58:03,1btsts059,trie,2023-12-31 23:56:25,mob,None,202312312358_1,202312312358_13
41,EFM;6591f19aba09b0000160c08d,an,lnbts,2023-12-31 23:56:26,2023-12-31 23:57:59,2023-12-31 23:58:03,1btsts059,trie,2023-12-31 23:56:25,mob,None,202312312358_1,202312312358_13
42,EFMTX;6591ef19d7d6bc000194445c,sdh,prhu,2023-12-31 23:45:45,2023-12-31 23:57:22,2023-12-31 23:58:02,viarital/prhu/4,viar,2023-12-31 23:45:45,tx,None,202312312358_28,202312312358_14